<div class="input">
  <label class="input__label-wrapper">
    <p class="input__label">{{label}}</p>
    <input
      class="input__field"
      name="{{name}}"
      type="{{type}}"
      placeholder="{{placeholder}}"
    />
  </label>
  <p class="input__error">{{error}}</p>
</div>